if [ "$CONDA_PREFIX" != "/opt/homebrew/Caskroom/miniconda/base/envs/fenwick_manim" ] && [ "$TERM_PROGRAM" != "vscode" ]; then 
    use nix
    source /opt/homebrew/Caskroom/miniconda/base/bin/activate fenwick_manim; 
fi